// Body
$body-bg: #f8fafc;
* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html, body {
  padding-top: 3em;
  height: 100%;
  position: relative;
}

#main {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 7em;
}

.footer {
 position: absolute;
 bottom: 0;
 
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

// Brand colors
$bluetrasparent: rgba(21,40,65,0.89);
$darkblue: #000044;
$mediumblue: #003366;
$lightblue: #6699CC;

$darkgrey: #808b96;
$mediumgrey: #abb2b9;
$lightgrey: #d5d8dc;

$btn-shadow: rgba(82, 161, 225, 0.5);

//--- from Designer
$vdcdarkblue1: rgb(35,31,32);
$vdcdarkblue1-t: rgba(35,31,32, 0.88);
$vdcdarkblue2: rgb(11,28, 43);
$vdcdarkblue2-t: rgba(11,28,43, 0.8);
$vdcdarkblue3: rgb(21,40,75);
$vdcdarkblue3-t: rgba(21,40,75, 0.87);
$vdcdarkblue4: rgb(0,72,118);
$vdcdarkblue4-t: rgba(0,72,118, 0.87);

$vdcmidblue1: rgb(0,118,169);
$vdcmidblue1-t: rgba(0,118,169, 0.8);
$vdcmidblue2: rgb(0,124,186);
$vdcmidblue2-t: rgba(0,124,186, 0.8);
$vdcmidblue3: rgb(64,124,202);
$vdcmidblue3-t: rgba(64,124,202, 0.8);

$vdcdarkcyan: rgb(30,152,138);
$vdcdarkcyan-t: rgba(30,152,138, 0.75);
$vdclightcyan: rgb(114,202,195);
$vdclightcyan-t: rgba(114,202,195, 0.6);

$vdclightblue: rgb(78,193,224);
$vdclightblue-t: rgba(78,193,224, 0.75);
$vdclightmix: rgb(99,208,223);
$vdclightmix-t: rgba(99,208,223, 0.75);

$vdcgrey: rgb(188,190,192);
$vdcgrey-t: rgba(188,190,192, 0.75);

// Background Colors
.bg-dark-t{
  background-color: $vdcdarkblue2-t;
}
.bg-mint-t{
  background-color: $vdclightmix-t;
}
.bg-darkcyan-t{
  background-color: $vdcdarkcyan-t;
}
.bg-lgblue-t{
  background-color: $vdclightblue-t;
}
.bg-light-c{
  background-color: $vdcdarkblue4-t;
}

.bg-darkblue {
	background-color: $darkblue;
}

.bg-mediumblue {
	background-color: $mediumblue;
}

.bg-lightblue {
	background-color: $lightblue;
}

.bg-darkgrey {
	background-color: $darkgrey;
}

.bg-mediumgrey {
	background-color: $mediumgrey;
}

.bg-lightgrey {
	background-color: $lightgrey;
}

// Text Colors
.text-darkcyan {
  color: $vdcdarkcyan;
}
.text-darkblue {
	color: $vdcdarkblue2;
}

.text-mediumblue {
	color: $mediumblue;
}

.text-lightblue {
	color: $lightblue;
}

.text-darkgrey {
	color: $darkgrey;
}

.text-mediumgrey {
	color: $mediumgrey;
}

.text-lightgrey {
	color: $lightgrey;
}

// Custom Buttons
.btn-custom {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-custom {
    transition: none;
  }
}

.btn-custom:hover {
  color: $white;
  text-decoration: none;
}

.btn-custom:focus,
.btn-custom.focus {
  outline: 0;
 
}

.btn-custom.disabled,
.btn-custom:disabled {
  opacity: 0.65;
}

a.btn-custom.disabled,
fieldset:disabled a.btn-custom {
  pointer-events: none;
}

// Primary Button

.btn-custom-blue {
  color: $white;
  background-color: $vdcdarkblue2;
  border-color: $vdcdarkblue2;
}

.btn-custom-blue:hover {
  color: $white;
  background-color: $vdcdarkblue4;
  border-color: $vdcdarkblue4;
}

.btn-custom-blue:focus,
.btn-custom-blue.focus {
  box-shadow: 0 0 0 0.2rem $btn-shadow;
}

.btn-custom-blue.disabled,
.btn-custom-blue:disabled {
  color: $white;
  background-color: $darkblue;
  border-color: $darkblue;
}

.btn-custom-blue:not(:disabled):not(.disabled):active,
.btn-custom-blue:not(:disabled):not(.disabled).active,
.show > .btn-custom-blue.dropdown-toggle {
  color: $white;
  background-color: $lightblue;
  border-color: $lightblue;
}

.btn-custom-blue:not(:disabled):not(.disabled):active:focus,
.btn-custom-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $btn-shadow;
}

// Secondary Button

.btn-custom-grey {
  color: $white;
  background-color: $darkgrey;
  border-color: $darkgrey;
}

.btn-custom-grey:hover {
  color: $white;
  background-color: $mediumgrey;
  border-color: $lightgrey;
}

.btn-custom-grey:focus,
.btn-custom-grey.focus {
  box-shadow: 0 0 0 0.2rem $btn-shadow;
}

.btn-custom-grey.disabled,
.btn-custom-grey:disabled {
  color: $white;
  background-color: $darkgrey;
  border-color: $darkgrey;
}

.btn-custom-grey:not(:disabled):not(.disabled):active,
.btn-custom-grey:not(:disabled):not(.disabled).active,
.show > .btn-custom-grey.dropdown-toggle {
  color: $white;
  background-color: $lightgrey;
  border-color: $lightgrey;
}

.btn-custom-grey:not(:disabled):not(.disabled):active:focus,
.btn-custom-grey:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-grey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $btn-shadow;
}

#daily{
    background-color: white; 
    border: 2px solid red ;
    height: 20em;
  }
