// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'carousel';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*                                  styling start */
body{
  background-color: mintcream;
}
#Account img{ 
  height: 25em;
 -webkit-box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
-moz-box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
}
#Account h2{
 background-color:  rgba(21,40,65,0.89);
    position: absolute;
    margin-top: -16%;
    padding-left: 5%;
    padding-right: 2%;
}
#Account a:hover img{
display: none;
}
#Account a:hover h2{
display: none;
}
.text_img{
  background-color: rgba(21,40,65,0.89);
  height: 25em;
}
.hidden_text{
 display: none ;
}
#Account a:hover .hidden_text{
display: block;
}
a{
  text-decoration: none !important; 
}
.msg a{
  color: white;
}
.msg a:hover{
  color: #1C9D9A;
}
.msg li{
  
  list-style: none;
}
.msg {
  padding: 5px;
}
.msg div{
  border-radius: 4%;
  font-size: 1.5em;
  padding: 4px;
  background-color: rgba(21,40,65,0.89);
  margin: 10px 0;
}
.btn-our{
  background-color: #4AC2E4;
  color: white;
  text-align: center;
  border-radius: 4%;
  font-size: 1.5em;
  padding: 4px;
}
.messageboard{
 background-color:  #1A9C9C;
}
.references{
  background-color: rgba(21,40,65,0.89);
   -webkit-box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
-moz-box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
box-shadow: -7px -5px 4px -4px rgba(0,0,0,0.27);
}
.references h3{
   color:  #4AC2E4;
}
.references p, #blog p{
   font-size: 1.3em;
}

.big_text{
   font-size: 1.3em;
}
.virgolette{
  font-family: verdana;
  font-size: 10em;
  font-style: italic;
  color:  #4AC2E4;
}

#main_navbar{
	/* opacity: 0.9 !important; */
	height: 5em !important;
	font-size: 1.1em !important;
}
.reference_img img{
  overflow: hidden;
  width: 100%;
  height: 20em;
}
.postimg{
  margin: 0 auto;
  width: 48%;
  padding: 5px;
  -webkit-box-shadow: -6px -6px 35px -12px rgba(0,0,0,0.2);
  -moz-box-shadow: -6px -6px 35px -12px rgba(0,0,0,0.2);
  box-shadow: -6px -6px 35px -12px rgba(0,0,0,0.2);
  img{
    width: 100%;
    position: relative;
  }
}